/* ------------------ POSITIONING ------------------ */

.center {
  text-align: center;
}

.center-spin {
  margin-top: 10%;
}

.lindent {
  margin-left: 20%;
}

.rindent {
  margin-right: 20%;
}

.lindentp {
  padding-left: 20%;
}

.rindentp {
  padding-right: 20%;
}

.content {
  display: flex;
  justify-content: center;
}

/* MongoDB chart style */
.chart {
  background: #21313C;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
}

/* Table styles */
.table {
  width: 59%;
  background-color: #131820;
  margin-top: 3em;
}

th {
  background-color: #0b0b0b;
  font-weight: 300;
  padding: 1em;
}

td {
  background-color: #131820;
  font-weight: 300;
  font-size: medium;
  padding: 1em;
  border-bottom: 1px solid #2a3343;
  text-align: center;
}

/* ------------------ FONTS ------------------ */

/* Vendor specific placeholder styling */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

.italic {
  font-style: italic;
}

/* Used on 404 page */
.red {
  color: #ca1919;
}

body {
  font-family: 'Roboto', sans-serif;
}