/* ------------------ POSITIONING ------------------ */

.center {
  text-align: center;
}

.lindent {
  margin-left: 20%;
}

.lin1 {
  margin-left: 5%;
}

.rindent {
  padding-right: 20%;
}

/* ------------------ FONTS ------------------ */

/* Vendor specific placeholder styling */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 1.1250em;
  font-weight: bold;
  font-style: italic;
}